[Builtin Hooks]
bpfmt = true
clang_format = true
google_java_format = true
xmllint = true

# Formatters are only enabled for the android/cts/ directory as it is not
# imported from Chromium, but developed in AOSP.
[Builtin Hooks Options]
clang_format = --commit ${PREUPLOAD_COMMIT} --style file --extensions c,h,cc,cpp
               android/cts
google_java_format = --include-dirs=android/cts

[Hook Scripts]
checkstyle_hook = ${REPO_ROOT}/prebuilts/checkstyle/checkstyle.py --sha ${PREUPLOAD_COMMIT}

ktlint_hook = ${REPO_ROOT}/prebuilts/ktlint/ktlint.py -f ${PREUPLOAD_FILES}

alint_hook = ${REPO_ROOT}/vendor/google/tools/alint
